<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html -%}
<head>
  <!-- ... -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v3/dist/waline.css"
  />
  <!-- ... -->
</head>
<body>
{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">
    <span>{{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</span>
    {%- if site.extCount %}
      <span>浏览量</span>
      <span id="busuanzi_value_page_pv"></span>
    {% endif %}
  </div>
  {% endif %}
  <div class="post">
    {% include toc.html html=content %}
    {{ content }}
  </div>
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
  <!-- ... -->
<div id="waline"></div>
<script type="module">
  import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

  init({
    el: '#waline',
    serverURL: 'lrainner-blog-vercel.vercel.app',
    dark: 'auto',
  });
</script>
</div>
{% include footer.html -%}
{% include script.html -%}
</body>
</html>